<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Moderne Datenschutzberatung nach den Vorgaben der Datenschutzgrundverordnung">


  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#3eb780">
  <meta name="msapplication-TileColor" content="#603cba">

  <meta name="theme-color" content="#3eb780">
  <title>Impressum</title>

  <link rel="stylesheet" type="text/css" href="css/flaticon/flaticon.css">
  <link rel="stylesheet" href="css/all.css">
</head>

<body>
  <header>
    <nav>
      <div class="nav-container">
        <div class="links">
          <ul>
            <li id="home">
              <a class="router-link" href="/">über uns</a>
            </li>
            <li id="contact" style="display: none;">
              <a class="router-link" href="/#contact">kontakt</a>
            </li>
            <li id="impressum" class="active">
              <a class="router-link" href="/impressum.html">impressum</a>
            </li>
            <li id="datenschutz">
              <a class="router-link" href="/datenschutz.html">datenschutz</a>
            </li>
          </ul>
        </div>
        <div class="navbar">
          <span class="logo">
            <a class="router-link" href="/">
              <span>PN</span> DataSecure
            </a>
          </span>
          <div class="hamburger-container">
            <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>

    <div class="impressum-content">
      <h2>Impressum</h2>
      <h3>Angaben gemäß §5 Telemediengesetz (TMG):</h3>
      <p class="address">
        PN DataSecure GbR
        <br> Königsberger Str. 5
        <br> 69198 Schriesheim
        <br> Deutschland
        <br>
      </p>
      <p>Gesellschafter:
        <strong>Nils Friess</strong> und
        <strong>Philipp Kirchner</strong>
      </p>
      <p class="phone">
        <i class="flaticon-telephone-auricular"></i>
        <a href="tel:+4917643853163">0176 43853163</a>
      </p>
      <p class="mail">
        <i class="flaticon-new-email-filled-closed-envelope-back"></i>
        <a href="mailto:info@pn-datasecure.de">info&#64;pn-datasecure.de</a>
      </p>
      <h3>Quellenangaben</h3>
      <p>Sämtliche Icons dieser Seite werden durch die Schrift
        <strong>FlatIcon</strong>
        (
        <a href="http://www.flaticon.com">flaticon.com</a>) dargestellt. Diese Schrift wurde erstellt von
        <a data-file="circle" href="http://www.freepik.com">Freepik</a> und veröffentlicht unter der
        <a href="http://creativecommons.org/licenses/by/3.0/">CC-Lizenz</a>.
      </p>
    </div>

  </main>
  <footer>
    <div class="social-links" style="display: none">
      <svg class="twitter" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"
        />
      </svg>
      <svg class="facebook" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"
        />
      </svg>
    </div>
    <div class="copyright">
      &copy; 2018
      <span class="logo-name">
        <strong>PN</strong> DataSecure GbR</span>
    </div>
    <div class="links">
      <span class="impressum-footer">
        <a class="router-link" href="/impressum.html">impressum</a>
      </span>
      <span class="pipe">|</span>
      <span class="datenschutz-footer">
        <a class="router-link" href="/datenschutz.html">datenschutz</a>
      </span>
    </div>
  </footer>

  <!-- JavsScript scripts -->
  <script defer src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script defer src="js/bundle.min.js"></script>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86172073-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());


    gtag('config', 'UA-86172073-5', { 'anonymize_ip': true });
  </script>
</body>

</html>